# For Loop

## 單層 for-loop 
- 使用 for 和 in 關鍵字
- for 變數 in 序列(Sequence)

In [1]:
# string
for i in 'Firstins':
    print(i)

F
i
r
s
t
i
n
s

In [2]:
# list
colleagues = ['Angel','Lillian','Michelle','Joy']
for i in colleagues:
    print(i)

Angel
Lillian
Michelle
Joy

In [3]:
nums = [0,1,2,3,4,5]
for i in nums:
    print(i)

0
1
2
3
4
5

In [ ]:
## for loop & range()

In [ ]:
for i in range(5):
    print(i)

In [6]:
# Q: 將 1 加 1 執行五次: 1+1+1+1+1+1
x = 1
for i in range(5):
    x = x+1
    print(x)

2
3
4
5
6

In [7]:
# Q: 計算 1 加到 8 的總和: 0+1+2+3+4+5+6+7+8
x = 0
for i in range(9):
    x = x+i
print(x)

36

In [8]:
for i in range(2,9):
    print(i)

2
3
4
5
6
7
8

In [9]:
# Q: 計算 2 加到 8 的總和: 2+3+4+5+6+7+8
x = 0
for i in range(2,9):
    x = x+i
print(x)

35

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [18]:
# Q: 計算 0-100 奇數總和
x = 0
for i in range(0,101,2):
    x=x+i
print(x)

2550

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in colleagues:
    print(i)

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in range(len(colleagues)):
    print(colleagues[i])

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in range(0,len(colleagues),2):
    print(colleagues[i])

In [ ]:
## for loop & enumerate()

In [23]:
# 加上索引
fruits = ['guava', 'litchi', 'pear', 'banana', 'papaya', 'mango'] 

for index, fruit in enumerate(fruits): 
    print(index, fruit)

(0, 'guava')
(1, 'litchi')
(2, 'pear')
(3, 'banana')
(4, 'papaya')
(5, 'mango')

In [ ]:
## for loop & zip()

In [25]:
# 合併兩個 List
fruits = ['guava', 'litchi', 'pear', 'banana', 'papaya', 'mango'] 
price_list = [100,120,80,70,90,60]

for fruit,price in zip(fruits,price_list):
    print(fruit,price)

guava 100
litchi 120
pear 80
banana 70
papaya 90
mango 60

In [ ]:
# 印出 2 的 6 次方
print(pow(2,6))

In [ ]:
# 將 2 的 6 次方使用 for-loop 呈現

num = 2
result = 2
for i in range(5):
    result = result * num
    print(result)

## 巢狀 for-loop

In [26]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [28]:
# Q: 九九乘法表
for i in range(1,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### break and continue

In [ ]:
x = 'TheOne'
for i in x:
    if i =='n':
        break
    print(i)

In [ ]:
x = 'TheOne'
for i in x:
    if i =='n':
        continue
    print(i)

In [ ]:
for i in range(1,30):
    if  i % 5 == 0:
        break
    print(i)

In [ ]:
for i in range(1,30):
    if  i % 5 == 0:
        continue
    print(i)

# while Loop

In [96]:
x = 0
while x <= 5:
    print(x)
    x = x + 1

0
1
2
3
4
5

In [107]:
# x 加總 10 次
x = 1
while x <= 10:
    x = x+1
print(x)

11

In [108]:
# 計算 1 到 10 的總和
x = 1
result = 0
while x <= 10:
    result = result + x
    x = x + 1
    print(result)

1
3
6
10
15
21
28
36
45
55

In [2]:
i = 0
while i < 10:
    i = i + 1
    if i == 5:
        break
    print (i, end = " ")

1 2 3 4

In [ ]:
i = 0
while i < 10:
    i = i + 1
    if i == 5:
        continue
    print (i, end = " ")