# For Loop

## 單層 for-loop 
- 使用 for 和 in 關鍵字
- for 變數 in 序列(Sequence)

In [ ]:
# string
for i in 'Firstins':
    print(i)

In [ ]:
# list
colleagues = ['Angel','Lillian','Michelle','Joy']
for i in colleagues:
    print(i)

In [ ]:
nums = [0,1,2,3,4,5]
for i in nums:
    print(i)

In [ ]:
## for loop & range()

In [ ]:
for i in range(5):
    print(i)

In [98]:
# Q: 將 1 加 1 執行五次: 1+1+1+1+1

2
3
4
5
6

In [ ]:
# Q: 計算 1 加到 8 的總和: 0+1+2+3+4+5+6+7+8

In [ ]:
for i in range(2,9):
    print(i)

In [ ]:
# Q: 計算 2 加到 8 的總和: 2+3+4+5+6+7+8

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
# Q: 計算 0-100 奇數總和

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in colleagues:
    print(i)

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in range(len(colleagues)):
    print(colleagues[i])

In [ ]:
colleagues = ['Henry','Angel','Tim','Lillian','Andy','Michelle','John','Joy']
for i in range(0,len(colleagues),2):
    print(colleagues[i])

In [ ]:
## for loop & enumerate()

In [ ]:
# 加上索引
fruits = ['guava', 'litchi', 'pear', 'banana', 'papaya', 'mango'] 

for index, fruit in enumerate(fruits): 
    print(index, fruit)

In [ ]:
## for loop & zip()

In [ ]:
# 合併兩個 List
fruits = ['guava', 'litchi', 'pear', 'banana', 'papaya', 'mango'] 
price_list = [100,120,80,70,90,60]
for fruit,price in zip(fruits,price_list):
    print(fruit,price)

In [ ]:
# 印出 2 的 6 次方
print(pow(2,6))

In [ ]:
# 將 2 的 6 次方使用 for-loop 呈現

num = 2
result = 2
for i in range(5):
    result = result * num
    print(result)

## 巢狀 for-loop

In [ ]:
for i in range(5):
    for j in range(5):
        print(i,j)

In [ ]:
# Q: 九九乘法表

### break and continue

In [ ]:
x = 'TheOne'
for i in x:
    if i =='n':
        break
    print(i)

In [ ]:
x = 'TheOne'
for i in x:
    if i =='n':
        continue
    print(i)

In [ ]:
for i in range(1,30):
    if  i % 5 == 0:
        break
    print(i)

In [ ]:
for i in range(1,30):
    if  i % 5 == 0:
        continue
    print(i)

# while Loop

In [96]:
x = 0
while x <= 5:
    print(x)
    x = x + 1

0
1
2
3
4
5

In [107]:
# x 加總 10 次
x = 1
while x <= 10:
    x = x+1
print(x)

11

In [108]:
# 計算 1 到 10 的總和
x = 1
result = 0
while x <= 10:
    result = result + x
    x = x + 1
    print(result)

1
3
6
10
15
21
28
36
45
55

In [ ]:
i = 0
while i < 10:
    i = i + 1
    if i == 4:
        continue
    print (i, end = " ")