# List 串列

In [ ]:
# 將多個數值型態的變數存入至一個 list 中
number1 = 1
number2 = 3
number3 = 5
number4 = 7
number5 = 9
number6 = 11
number7 = 13
number8 = 15

In [4]:
numbers = [1,3,5,7,9,11,13,15]
print(numbers)
print(type(numbers))

[1, 3, 5, 7, 9, 11, 13, 15]
<class 'list'>

In [ ]:
# 將多個字串型態的變數存入至一個 list 中
movie1 =  'Alien'
movie2 = 'Inception'
movie3 = 'The Martian'
movie4 = 'Blade Runner'
movie5 = 'Back to furtur'
movie6 = 'Arrival'
movie7 = 'Moon'
movie8 = 'Looper'

In [9]:
sci_fi = ['Alien','Inception','The Martian','Blade Runner','Back to furtur','Arrival','Moon','Looper']

In [10]:
print(sci_fi)

['Alien', 'Inception', 'The Martian', 'Blade Runner', 'Back to furtur', 'Arrival', 'Moon', 'Looper']

In [11]:
# 在一個 list 可存入不同型態的值
date = [2022,'二月']
print(date)

[2022, '二月']

In [13]:
# 查看字串的長度
print(len(numbers))
print(len(sci_fi))
print(len(date))

8
8
2

## 取得 list 的元素
- list[start:end:step]
- 取得的值包含開頭但不包含結尾的 index
- step 預設為 1

In [28]:
sci_fi = ['Alien','Inception','The Martian','Blade Runner','Back to furtur','Arrival','Moon','Looper']

# 取得第一個元素
print(sci_fi[0])

# 取得最後一個元素
print(sci_fi[-1])
print(sci_fi[len(sci_fi)-1])

Alien
Looper
Looper

In [27]:
# 取得第一個至第五個的元素 (index 0 - index 4)
print(sci_fi[0:5])
print(sci_fi[:5])

# 取得第五個至最後一個元素 (index 4 - index 7)
print(sci_fi[4:8])
print(sci_fi[4:])
print(sci_fi[4:len(sci_fi)])

['Alien', 'Inception', 'The Martian', 'Blade Runner', 'Back to furtur']
['Alien', 'Inception', 'The Martian', 'Blade Runner', 'Back to furtur']
['Back to furtur', 'Arrival', 'Moon', 'Looper']
['Back to furtur', 'Arrival', 'Moon', 'Looper']
['Back to furtur', 'Arrival', 'Moon', 'Looper']

In [ ]:
# 比較
print(sci_fi[1:-1]) # 不包含最後一個元素
print(sci_fi[1:])   # 包含最後一個元素

In [34]:
sci_fi = ['Alien','Inception','The Martian','Blade Runner','Back to furtur','Arrival','Moon','Looper']

# 取的奇數 index 的元素
print(sci_fi[1:-1:2]) 
print(sci_fi[1::2])

# 取的偶數 index 的元素
print(sci_fi[:-1:2])
print(sci_fi[::2])

['Inception', 'Blade Runner', 'Arrival']
['Inception', 'Blade Runner', 'Arrival', 'Looper']
['Alien', 'The Martian', 'Back to furtur', 'Moon']
['Alien', 'The Martian', 'Back to furtur', 'Moon']

## 排序
- sorted(list) :排序並建新的 List，原本的 List 不受影響
- list.sort() :直接改變 List 內容，不會回傳新的值

In [3]:
x = [1,5,3,7,3]
print(sorted(x))  
print(x.sort())

[1, 3, 3, 5, 7]
None

In [4]:
list1=[1,2]
list2=[4,5]
print(list1+list2)

[1, 2, 4, 5]

exit!